<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fusionx.tilal6991.multiboot"
    android:versionCode="4"
    android:versionName="4.0.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme" >
        <activity
            android:name=".HomeScreen"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="BootRom"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateRom"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_make_multi_boot_rom"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateOther"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_make_loop_gapps"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateNand"
            android:exported="false"
            android:label="@string/title_activity_create_from_nand" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CommonMultibootBase"
            android:exported="false"
            android:label="@string/title_activity_create_from_nand" >
        </activity>
        <activity
            android:name=".Navigation"
            android:exported="false"
            android:label="@string/title_activity_navigation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>