<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fusionx.tilal6991.multiboot"
    android:versionCode="3"
    android:versionName="3.2.0" >

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="BootRom"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MakeMultiBootRom"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_make_multi_boot_rom"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SystemPartition"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_system_partition"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataPartition"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_data_partition"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Finalisation"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_finalisation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateRom"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_make_multi_boot_rom"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateOther"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_make_loop_gapps"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateNand"
            android:exported="false"
            android:label="@string/title_activity_create_from_nand" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CommonMultibootBase"
            android:exported="false"
            android:label="@string/title_activity_create_from_nand" >
        </activity>
        <activity
            android:name=".D"
            android:exported="false"/>
        <activity
            android:name=".Navigation"
            android:label="@string/title_activity_navigation"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>